h1, h2, h3, h4, h5, h6, a, li{
  margin: 0px;
  padding: 0px;
  font-family:sans-serif;
}
body{
  background-color: #efefef;
}
html, body, section{
  display: block;
  margin: 0px;;
  width: 100%;
  padding: 0px;
}
.wrapper{
  width: 60%;
  margin:auto;
  padding-top:50px;
  background-color: white;
}
ul{
  margin: 0px;
}

.container{
  width: 300px;
  height:100px;
  margin: auto;
}

section{
  padding: 30px 0px;
}
/*Navigation*/
nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top:0px;
  z-index: 100;
  background-color: black;
}
nav h1{
  color: white;
  float:left;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
}
nav ul{
  color:white;
  float:right;
  margin-right: 30px;
  list-style-type: none;
  position: relative;
  top:50%;
  transform: translateY(-50%);


}
nav ul li{
  display: inline-block;
  margin-left: 30px;
}
nav a{
  text-decoration: none;
  color:inherit;
}
nav a:hover{
  color: #706ed1;

}
/*Header section*/
#header{
  height: 300px;
  text-align: center;
  background-image: url("../images/head.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#header-content{
  width:80%;
  margin:auto;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  color:white;
}
#header-content h1{
  font-size:60px;
}
#header-content h4{
  font-size:30px;
  font-weight: 100;
}
#icons{
  height: 200px;
}
/*icon css*/
.icons-content{
  /*justify-content:center;*/
  text-align: center;
  width:inherit;
  height: 100px;

}
.icons-item{
  position:relative;
  top:50%;
  transform: translateY(-50%);
  display:inline-block;
  overflow:hidden;
  height:70px;
  width:70px;
}
.icons-item img{
  position:relative;
  top:50%;
  transform: translateY(-50%);
  transition: all 100ms ease;
  width:50px;
  height:50px;
  /*transition: width 0.1s, height 0.1s;*/
}
.icons-item img:hover{
  transition: all 100ms ease;
  width: 65px;
  height: 65px;
  /*transform: scale(1.1);*/
}
.cat img{
  width:80%;
  margin:20px 0px;
}
.catcontainer{
  width: 80%;
  margin: auto;
  text-align: center;
}
.sectiontitle{
  height: 50px;
}
.sectiontitle h2{
  text-align: center;
  font-weight: 200;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  color:#3835c6;
}
.sectioncommenets{
  height: 50px;
}
.sectioncommenets h4{
  text-align: center;
  font-weight: 200;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  color:#3835c6;
}
.section2{
  height: 100px;
  color:#3835c6;
  text-align: center;
}
.sec2contents{
  position:relative;
  top:50%;
  transform: translateY(-50%);
}
.section2 h2{
  font-weight: 200;
}
.section2 h4{
  font-weight: 100;
}
/*second section*/
.space{
  height: 500px;
  width: 100%;
}
#box{
  height: 300px;
  width: 80%;
  margin:auto;
  background-color: white;
  border:5px;
  border-style: dashed;
  border-color: black;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}
#box h3{
  font-weight: 500;
  color:#3835c6;
  text-align: center;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}
